<%- include('partials/header', { title: 'Galería' }) %>
<h1>Galería</h1>
<div class="gallery-grid">
  <figure class="gallery-item"><img src="/images/gallery/gallery-1.jpg" alt="Foto 1"></figure>
</div>
<%- include('partials/footer') %>
