
<% layout('partials/layout') %>
<h1>MISIÓN</h1>
<p>Educar a enfermeras y equipos de salud, liderado por profesionales de enfermería indígenas de la misma comunidad Nasa Páez, en atención primaria con enfoque intercultural mediante modalidades flexibles y accesibles que integren conocimientos técnicos, saberes ancestrales, manejo ético y comunicación efectiva. Ofrecemos asesoría continua y adaptamos protocolos de salud validados para asegurar prácticas respetuosas y culturalmente pertinentes, fomentando la educación continua y el fortalecimiento de la salud intercultural en las instituciones y comunidades de la región del Cauca.</p>
<div class="image-hero"></div>
<div class="btns">
  <a class="btn" href="/vision">¿Cuál es nuestra visión?</a>
</div>
