<%- include('partials/header', { title: 'Quiénes somos' }) %>

<h1>QUIÉNES SOMOS</h1>
<p>
  Somos el Centro de Capacitación "Trenzando la Salud con la Interculturalidad",
  una iniciativa innovadora liderada por enfermeros profesionales indígenas de la comunidad Nasa Páez del Cauca, Colombia.
  Integramos el conocimiento técnico-científico de la enfermería con los saberes ancestrales de nuestras comunidades,
  ofreciendo formación especializada en atención primaria con enfoque intercultural.
</p>
<p>
  Nuestro compromiso es formar profesionales de salud que comprendan, respeten y apliquen prácticas de cuidado culturalmente seguras,
  promoviendo equidad, humanización y confianza en la atención sanitaria para comunidades indígenas y rurales.
</p>

<div class="image-hero"></div>
<div class="btns">
  <a class="btn" href="/mision">¿Cuál es nuestra misión?</a>
</div>

<%- include('partials/footer') %>
