<%- include('partials/header', { title: 'Visión' }) %>

<h1>VISIÓN</h1>
<p>
  Ser de los primeros centros de capacitación en el año 2028 y posicionarnos a nivel de todo el Cauca,
  como un referente innovador que lidera en la formación de profesionales de enfermería y equipos de salud
  en atención primaria con enfoque intercultural.
</p>
<p>
  Promovemos la integración armoniosa del conocimiento técnico-científico y los saberes ancestrales de la comunidad Nasa Páez,
  para garantizar una atención de salud respetuosa, ética y de alta calidad en las comunidades indígenas de esta región.
</p>

<div class="image-hero"></div>
<div class="btns">
  <a class="btn" href="/programas">Conoce nuestra oferta académica</a>
</div>

<%- include('partials/footer') %>
